/* Global */
.container-hand-tracker{
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.panel-row{
  display: flex;
  height: 100%;
}

h1 {
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 16px;
  text-align:  center;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
/* Controls */

.panel-controls{
  flex: 20;

}


.container-controls {
  background-color: rgb(240,240,240);
  margin: 2%;
  padding: 5%;
  height: 800px;
  
  justify-content: flex-start;
}


.control-form {
  height: 20%;
  display: flex;
  flex-direction: column;
}

/* Display */

.panel-display{
  flex: 50;
}

.container-display {
  background-color: rgb(240,240,240);
  margin: 2%;
  padding: 5%;
  height: 800px;
}

.webcam{
  display: none;
}

.output-canvas{
  position: relative;
  text-align: "center";
  box-sizing: border-box;
  background-color: black;
  width: 100%;
}

.resolution-config {
  display: flex;
  justify-content: flex-start;
}

/* Data */

.diagram {
  height: 604px;
  width: 362px;
  /* border: 1px solid red; */
  display: block;
  /* position: fixed; */
}

.diagrams_src{
  height: 604px;
  width: 362px;
  display: none;
}

/* .left-diagram {
  width: 50%;
}

.right-diagram {
  width: 50%;
} */

.panel-data{
  flex: 30;
}

.container-data {
  background-color: rgb(240,240,240);
  margin: 2%;
  padding: 5%;
  height: 800px;
}

.container-download{
  display: flex;
  justify-content: center;
}

/* Components */
.button-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 8px;
  margin-right: 8px;
}

.button-csv{
  border: 1px solid rgb(98, 0, 209);
  align-self: center;
  padding:0.2em;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(98, 0, 209);
  color: #fff;
  width:auto;
}

.button-csv:hover{
  background-color: #fff;
  border-radius:1px solid rgb(98, 0, 209);
  color:rgb(98, 0, 209);
  cursor: pointer;
}



.input-box{
  width: 5em;
  text-align: center;
  margin:auto;
  padding:0.2em;
}

.field-label{
  margin: auto;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
}



/*
For webcam component 
      style={{
        position: "absolute",
        marginRight:"auto",
        marginLeft:"auto",
        left:0,
        right:0,
        textAlign:"center"
      }} 
*/