/* Global */
.container-hand-tracker{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.panel-row{
  align-items: stretch;
  display: flex;
  height: 100%;
}

h1 {
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
  height: 1rem;
}

h2 {
  font-size: 16px;
  text-align:  center;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: break-word;
}

/* Display */

.panel-display{
  flex: 60;
  max-width: 810px;
  min-width: 500px;
}

.container-display {
  background-color: rgb(240,240,240);
  margin: 0.5rem;
  padding: 0.75rem;
  height: 90%;
}

.webcam{
  display: none;
}

.output-canvas{
  position: relative;
  text-align: "center";
  box-sizing: border-box;
  background-color: black;
  width: 100%;
}

.output-video {
  display: block;
  height: 70%;
}

/* Controls */

.control-form {
  display: flex;
  align-items: center;
}

.controls{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.controls-cell {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 1em;
}

.resolution-config {
  display: flex;
  justify-content: flex-start;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

.container-upload {
  display: flex; 
  margin-right: 1em;
  justify-content: flex-start;
  align-content: center;
}

.container-download{
  display: flex;
  justify-content: center;
}


/* Data */

.panel-data{
  flex: 40;
  max-width: 637px;
}


.container-data {
  background-color: rgb(240,240,240);
  margin: 0.5rem;
  padding: 0.75rem;
  height: 90%;
}

.diagram-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.diagram {
  height: 351px;
  width: 296.5px;
  /* border: 1px solid red; */
  display: inline-block;
  /* position: fixed; */
}

.diagrams_src{
  height: 351px;
  width: 296.5px;
  display: none;
}


/* Components */

.button-form {
  display: flex;
  flex: none;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button {
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration:none;
  margin-top: 0.5rem;
  margin-right: 40%;
}


.button-webcam {
  /* align-items: center; */
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  color: rgb(34, 34, 34);
  background: #fff;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-upload {
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  color: rgb(34, 34, 34);
  background-color: #fff;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-csv{
  border: 1px solid rgb(98, 0, 209);
  align-self: center;
  padding:0.2em;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(98, 0, 209);
  color: #fff;
  width:auto;
}

.margin-push{
  margin-right: 0.5rem;
}

.button-form:hover{
  cursor: pointer;
}

.button-form:active{
  background: #4B91F7;
}


.input-box{
  width: 4em;
  text-align: center;
  margin-right: 0.5rem;
  padding:0.2em;
}

.field-label{
  margin-bottom: 0.4em;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
}

.input-file {
  color: transparent;
  width: 6.5rem;
  margin-right: 0.5rem;
}
.input-file::-webkit-file-upload-button {
  visibility: hidden;
}
.input-file::before {
  content: 'Select File(s)';
  color: #fff;
  display: flex;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.input-file:active {
  outline: 0;
}
.input-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.container-sep {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.dropdown {
  width: 4em;
  text-align: center;
  margin-right: 0.5rem;
  padding:0.2em;
}

/*
For webcam component 
      style={{
        position: "absolute",
        marginRight:"auto",
        marginLeft:"auto",
        left:0,
        right:0,
        textAlign:"center"
      }} 
*/