*{
    font-family: "montseratt", sans-serif;
}

.home-container{
    text-align: center;
    padding: 20px;
}

.simple-link {
    text-decoration: none;
    color: #303030;
    margin: 1em;
    display: inline-block;
}

hr {
    width: 90%;
    /* margin: 20px auto; */
}

.links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* margin: 20px 0; */
}
p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    margin: 0em;
}
.site-title {
    margin-top: 0;
    color: var(--text-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-bottom: 0em;
    
}